ADMOB_ANDROID_APP_ID=ca-app-pub-XXXXXXXXXXXXXXXX~XXXXXXXXXX
ADMOB_IOS_APP_ID=ca-app-pub-XXXXXXXXXXXXXXXX~XXXXXXXXXX
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=XXXXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=XXXXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.apps.googleusercontent.com
EXPO_PUBLIC_PAYPAL_ME=https://paypal.me/TUUSUARIO
EXPO_PUBLIC_LICENSE_PRICE=4.99
EXPO_PUBLIC_SUPPORT_EMAIL=tu@email.com
